/*
 * Color Palette:
 *  - Yellow: #ecc85a;
 *  - Orange: #ec8a5a;
 *  - Blue:   #5aa5ec;
 */
@-webkit-keyframes animateOpacity {
 0% {
  opacity: 0;
 }
 100% {
  opacity: 1;
 }
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html,
body {
  background-color: #5aa5ec;
  font-family: 'Lato';
  font-weight: 100;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
h1, h2 {
  color: #fff;
  font-family: 'Merriweather';
  font-style: italic;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 90px;
  font-weight: 900;
  letter-spacing: -7px;
  margin: 60px auto 10px auto;
  opacity: 1;
  -webkit-transition: all 6s;
  transition: all 6s;
  -webkit-animation: animateOpacity 6s 1 ease;
  animation: animateOpacity 6s 1 ease;
}
h2 {
  font-weight: 300;
  font-size: 25px;
  margin: 0 auto 30px auto;
  opacity: 1;
  -webkit-transition: all 12s;
  transition: all 12s;
  -webkit-animation: animateOpacity 12s 1 ease;
  animation: animateOpacity 12s 1 ease;
}
pre {
  padding: 20px 10px;
  text-align: left;
  white-space: pre-wrap;
}
.code {
  border-radius: 3px;
  color: #fff;
  margin: 10px auto 0 auto;
  overflow: hidden;
  padding: 0 20px;
  width: 490px;
}
.code li {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 225px;
}
.btns {
  padding-bottom: 10px;
  text-align: center;
}
.btn {
  background: rgba(255,255,255,.2);
  box-shadow: 0px 3px 0px 3px rgba(0,0,0,0.2);
  border-radius: 6px;
  border-style: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Lato';
  font-size: 18px;
  font-weight: 100;
  margin: 0 auto;
  outline: none;
  padding: 20px 0;
  -webkit-transition: all 3s;
  transition: all 3s;
  width: 225px;
}
.btn-one {
  border-radius: 6px 0 0 6px;
}
.btn-all {
  border-radius: 0 6px 6px 0;
}
.btn:hover,
.btn:active {
  background: #ec8a5a;
  box-shadow: 0px 3px 0px 3px rgba(0,0,0,0.4);
  outline: none;
}
.btn:active {
  box-shadow: inset 0px 3px 0px 3px rgba(0,0,0,0.4);
}
.container {
  height: 100%;
  position: relative;
}
.header {
  text-align: center;
}
.sharing {
  margin: 0 auto 20px auto;
  overflow: hidden;
  width: 380px;
}
.sharing li {
  float: left;
  list-style: none;
  margin: 0 5px 0 0;
  padding: 0;
}
.main-content {
  background: rgba(255,255,255,.2);
  height: 100%;
  overflow: hidden;
  padding-bottom: 60px;
  position: relative;
}
.to-fade {
  color: #fff;
  line-height: 1.5;
  margin-bottom: 20px;
  padding: 20px;
  position: relative;
  -webkit-transition: background 3s;
  transition: background 3s;
}
.to-fade-one {
  left: 0;
  height: 861px;
  padding-top: 40px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 33.3333333333%;
}
.to-fade-one.highlight {
  background: #ec8a5a;
}
.to-fade-all-list {
  bottom: 0;
  left: 33.3333333333%;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 66.666666666%;
}
.to-fade-all.highlight {
  background: #ec8a5a;
}
.to-fade-all {
  list-style: none;
  margin: 0;
  padding: 25px 40px;
}
.to-fade img {
  border-radius: 50%;
  height: 180px;
  width: 180px;
}
.to-fade-all img {
  left: 20px;
  height: 100px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 96px;
}
.to-fade-all p {
  padding-left: 116px;
}
.footer {
  background-color: #fff;
  bottom: 0;
  font-weight: 100;
  left: 0;
  margin: 0 auto;
  overflow: hidden;
  opacity: 0.95;
  padding: 10px 20px;
  position: fixed;
  right: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
}
.footer:hover {
  opacity: 1;
}
.footer a {
  color: #111;
  text-decoration: none;
}
.footer .repo {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.footer .repo img {
  width: 25px;
}
